3D/
libs/
tex/
/node_modules
.env
test.js
test.ts
*.mp3
*.obj
/node-modules
/three.js-master
/three
index.js
res/JetBrainsMonoNL-Bold.ttf
res/KORIN.ttf
res/korin.json
node_modules/.package-lock.json
test.html
node_modules/.package-lock.json
main.js
old_index.html
public/vite.svg
temp.html
style.css
counter.js
ae/sane logo.aep
blues.mp4
ae/sane logo.aep
korinna/sharefonts.net.txt
ae/sane logo.aep
res/worlds/blacktemple.glb
res/worlds/blacktemple.json
temp_CREDITSFALL.js
index_backup.js
ae/
.eslintrc.cjs

api/
amplify/

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
.vscode/settings.json
api/gather.js
api/gather.js
