.film-grain {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ), linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ), url(./res/grain75.gif);
    background-blend-mode: lighten;
    opacity: 0.11;
    pointer-events: none;
  }