:root {
  --base-font-size: 2vw;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #020202;
    width: 100%;
    height: 100%;
    }

#container {
  width: 100%;
  height: 100%;
}
#player {
  position: absolute;
  width: 50vw;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  opacity: 0;
  transition: opacity 2.5s;
  border-radius: 12px;
}

#first-time {
  position: absolute;
  width: 50vw;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  opacity: 1;
  border-radius: 15px;
  transition: opacity 2s ease;

}
#title {
  position: fixed;
  width: 50vw;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: rgb(238, 238, 238);
  opacity: 0;
  transition: opacity 2.5s;
  font-family: "Korin", sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border-radius: 15px;
  
}
#credits {
  width: 50vw;
  height: 60vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: rgb(238, 238, 238);
  background-color: #05050500;
  opacity: 1;
  transition: opacity 2.5s;
  font-family: "Korin", sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  pointer-events: none;
  border-radius: 15px;
}
#credits p {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-align: left;
  margin-top: auto;
  margin-bottom: 10%;
  white-space: pre-wrap;
  filter: drop-shadow(2px 3px 0px rgba(0, 0, 0, 1));
}
#border {
  position: absolute;
  width: 50vw;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #05050509;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  pointer-events: none;
  opacity: 0;
  border: 2px solid #111111;
  border-radius: 12px;
  z-index: 0;
  transition: opacity 1s ease;
}

#video {
  display: block;
  opacity: 0;
  pointer-events: none;
}

#questionDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: none;
}

#question {
  caret-color: rgba(255,255,255, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5vh;
  width: 7vw;
  min-width: fit-content;
  min-height: fit-content;
  border-radius: 0.4vw;
  border: 0;
  outline-color: rgb(37, 37, 37);
  background-color: rgb(12, 11, 11);
  color: rgb(116, 116, 116);
  text-align: left;
  font-size: 24px;
  pointer-events: all;
  font-family: "Korin", sans-serif;
  transition: width 1s ease, height 1.2s ease, opacity 1.1s ease, background-color 0.5s ease, transform 0.5s ease;
  padding-left: 1vw;
  padding-right: 1vw;
}

#question:focus {
  transition: width 1s ease, height 1.5s ease, opacity 1.1s ease, background-color 0.5s ease, transform 0.5s ease;
  color: rgb(148, 148, 148);
  width: 18vw;
  height: 4vh;
  border: 0;
  outline:0;
}

#question::placeholder {
  opacity: 1;
  transition: opacity 1s ease, color 0.5s ease;
  text-align: center;
  
}

#question:focus::placeholder {
  color: rgb(76, 76, 76);
  transition: opacity 1s ease, color 0.5s ease;
  text-align: center;
  
}

#question.fade::placeholder {
  transition: width 1s ease, height 1.5s ease, opacity 1.1s ease, background-color 0.5s ease, transform 0.5s ease;
  opacity: 0;
}

#question:hover {
  transition: width 1s ease, height 1.5s ease, opacity 1.1s ease, background-color 0.5s ease, transform 0.5s ease; 
  transform: translate(-50%, -50%) scale(1.05);
  background-color: rgb(20, 20, 19);
}

#waiting {
  color: rgb(99, 99, 99);
  font-size: 36px;
  font-family: "Korin", sans-serif;
  transition: opacity 1s ease;
  opacity: 0;
}
